html {
  scroll-behavior: smooth;
}

.errorsrceen {
  display: none;
}

.logo-1-icon4 {
  width: 39.9px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}

.personal6 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}
/* scroll */
a {
  text-decoration: none;
  color: #000;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}

.logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  }

.about-me13 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
}

.about-me12,
.taskbaar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.taskbaar1 {
  width: 607px;
  gap: var(--gap-13xl);
}

.resume3 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 600;
}

.download-icon1 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.button12,
.container18,
.header1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.button12 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: var(--gap-5xs);
  color: var(--primary-white);
}

.container18,
.header1 {
  overflow: hidden;
}

.container18 {
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
}

.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-21xl);
  font-size: var(--heading-h5-extra-bold-size);
}

.hello-iam2,
.prudvi-raj1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}

.prudvi-raj1 {
  font-weight: 800;
}

.hello-iam-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.developer2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 3px #000;
}

.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.resultsoriented-full-stack1 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-text-2-regular-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-500);
  /* white-space: pre-line; */
  text-align: justify;
}

.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.banner-item,
.banner2 {
  overflow: hidden;
  flex-shrink: 0;
}

.banner2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
}

.banner-item {
  width: 650px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 596px;
  z-index: 0;
}

.banner3,
.container19 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}

.banner3 {
  width: 815px;
  height: 400px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.container19 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  z-index: 0;
}

.github-icon2,
.iconlinkedin2 {
  width: 56px;
  position: relative;
  height: 56px;
}

.github-icon2 {
  overflow: hidden;
  flex-shrink: 0;
}

.iconlinkedin-group {
  width: 139px;
  margin: 0 !important;
  position: absolute;
  top: 460px;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  z-index: 1;
}

.hero-section2,
.row15 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.hero-section2 {
  position: absolute;
  top: 104px;
  left: 0;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-21xl);
  box-sizing: border-box;
}

.row15 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}

.javascript15 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}

.skills21 {
  width: 186px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
}

.icons-mysql1 {
  width: 56px;
  position: relative;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.column13 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) 0;
}

.container20,
.row16,
.skills19 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.row16 {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  text-align: center;
  font-size: var(--heading-h5-extra-bold-size);
}

.container20,
.skills19 {
  width: 100vw;
  overflow: hidden;
}

.container20 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-xl);
}

.skills19 {
  position: absolute;
  top: 620px;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-21xl);
}

.infosys-icon2 {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}

.lead-software-engineer5 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
}

.infosys-container {
  align-self: stretch;
  width: 1018px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}

.nov-2019-5 {
  position: relative;
  font-size: var(--button-text-2-regular-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  text-align: end;
  width: 100%;
}

.frame-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.discribution1 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-text-2-regular-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-500);
  text-align: justify;
}

.experience8 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--zinc-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
}

.as-a-senior4 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-text-2-regular-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-300);
  text-align: justify;
}

.experience9,
.row18 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.experience9 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--zinc-800);
  display: flex;
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
}

.row18 {
  width: 1136px;
  padding: var(--padding-21xl) var(--padding-5xl);
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--heading-h4-extra-bold-size);
}

.container21,
.row18,
.testimonial10 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.container21 {
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-xl);
}

.testimonial10 {
  position: absolute;
  top: 1348px;
  left: 0;
  background-color: var(--primary-black);
  width: 100vw;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-21xl);
  color: var(--primary-white);
}

.container-item {
  width: 451px;
  position: relative;
  height: 572px;
}

.my-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}

.im-a-passionate2 {
  width: 610px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: inline-block;
}

.frame-parent13,
.im-a-passionate-self-proclai-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}

.im-a-passionate-self-proclai-group {
  justify-content: center;
  text-align: justify;
  font-size: var(--button-text-2-regular-size);
  color: var(--zinc-500);
}

.frame-parent13 {
  width: 610px;
  height: 572px;
  justify-content: flex-start;
}

.about-me22 {
  position: absolute;
  top: 2220px;
  left: 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-21xl);
  box-sizing: border-box;
}

.image-771-icon4 {
  width: 530px;
  position: relative;
  border-radius: 18.76px;
  height: 397.7px;
  object-fit: cover;
}

.image6 {
  width: 594px;
  height: 476px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.div6,
.travel-away-web1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}

.div6 {
  line-height: 56px;
  font-weight: 800;
}

.travel-away-web1 {
  font-size: var(--heading-h2-bold-size);
  line-height: 40px;
  white-space: pre-wrap;
}

.the-travel-away1 {
  margin: 0;
}

.read-more-icon6 {
  width: 20px;
  position: relative;
  height: 20px;
}

.details3,
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.parent5 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}

.details3 {
  flex: 1;
  overflow: hidden;
  justify-content: center;
}

.image7,
.project-11 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-11 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-21xl);
}

.image7 {
  width: 594px;
  height: 476px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.gd-website-template1 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-bold-size);
  letter-spacing: -0.02em;
  line-height: 40px;
}

.container23,
.parent7,
.project1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.parent7 {
  align-self: stretch;
  gap: var(--gap-11xl);
}

.container23,
.project1 {
  overflow: hidden;
  box-sizing: border-box;
}

.container23 {
  width: 100%;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-xl);
}

.project1 {
  position: absolute;
  top: 2912px;
  left: 0;
  background-color: var(--primary-black);
  width: 100vw;
  padding: var(--padding-41xl) var(--padding-21xl);
  color: var(--primary-white);
}

.your-name6 {
  width: 452px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
}

.component-12,
.your-name-wrapper4 {
  display: flex;
  justify-content: flex-start;
}

.your-name-wrapper4 {
  width: 500px;
  border-radius: var(--br-9xs);
  border: 1.4px solid var(--primary-black);
  box-sizing: border-box;
  height: 56px;
  flex-direction: row;
  /* align-items: center; */
  padding: var(--padding-base) var(--padding-5xl);
}

.component-12 {
  flex-direction: column;
  align-items: flex-start;
}

.how-can-i2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}

.how-can-i-help-frame {
  width: 500px;
  border-radius: var(--br-9xs);
  border: 1.4px solid var(--primary-black);
  box-sizing: border-box;
  height: 140px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
}

.button13,
.button14,
.how-can-i-help-frame {
  display: flex;
  flex-direction: row;
}

.button14 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}

.button13 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-h5-extra-bold-size);
  color: var(--primary-white);
}

.column15,
.frame-parent15,
.lets-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.column15 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xl) 0;
}

.frame-parent15,
.lets-container {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.frame-parent15 {
  flex-direction: column;
  gap: var(--gap-xs);
}

.i-seek-to2 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-text-2-regular-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-500);
}

.mokkapalliprudvirajgmailcom1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
}

.mokkapalliprudvirajgmailcom-container,
.text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mokkapalliprudvirajgmailcom-container {
  justify-content: flex-start;
  font-size: var(--outlined-m-extra-bold-size);
}

.text1 {
  flex: 1;
  justify-content: center;
  gap: var(--gap-21xl);
}

.column16,
.container24 {
  overflow: hidden;
  display: flex;
}

.column16 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0;
  font-size: var(--outlined-extra-bold-size);
  color: var(--primary-black);
}

.container24 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}

.contact-form1,
.logo-frame {
  display: flex;
  justify-content: flex-start;
}

.contact-form1 {
  position: absolute;
  top: 4830px;
  left: 0;
  background-color: var(--primary-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-41xl) var(--padding-21xl);
  font-size: var(--button-text-2-regular-size);
  color: var(--zinc-500);
}

.logo-frame {
  flex-direction: row;
  align-items: center;
}

.made-in-figma2,
.personal8 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
}

.made-in-figma2 {
  width: 135px;
  text-align: center;
  display: inline-block;
}

.footer2,
.personal-container {
  display: flex;
  justify-content: flex-start;
}

.personal-container {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
  text-align: right;
  font-size: var(--button-text-2-regular-size);
}

.footer2 {
  position: absolute;
  top: 5440px;
  left: 0;
  background-color: var(--primary-black);
  width: 100vw;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--heading-h5-extra-bold-size);
  color: var(--primary-white);
}

.boydesktop {
  width: 100%;
  position: relative;
  background-color: var(--primary-white);
  height: 5530px;
  overflow: hidden;
  text-align: left;
  font-size: var(--outlined-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--button-text-2-regular);
}


@media (max-width: 1199px) {
  .boydesktop {
    display: none;
  }

  .errorsrceen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0px 300px;
  }

  .image {
    width: 200px;
    height: auto;
  }

  .p1 {
    color: #000;
    text-align: center;
    margin-top: 0 auto;
    font-size: 25px;
    font-weight: bold;
  }
}


@media (max-width: 800px) {}


@media (max-width: 700px) {}
