.contact-me,
.project2 {
  position: absolute;
  top: 287px;
  left: 5px;
}
.project2 {
  top: 219px;
  left: 29px;
}
.about-me21,
.experience11,
.skills31 {
  position: absolute;
  top: 146px;
  left: 11px;
  display: inline-block;
  width: 114px;
  height: 41px;
}
.experience11,
.skills31 {
  top: 73px;
  width: 130px;
}
.skills31 {
  top: 0;
  left: 42px;
  width: 57px;
}
.resume5 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 600;
}
.download-icon2 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button23 {
  position: absolute;
  top: 355px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--primary-neutral);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--heading-h5-extra-bold-size);
  color: var(--error);
  font-family: var(--outlined-extra-bold);
}
.menu-items,
.xoutline-icon {
  position: absolute;
  top: 242px;
  left: 131px;
  width: 153px;
  height: 411px;
}
.xoutline-icon {
  top: 60px;
  left: 342px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.navigation-menu {
  width: 414px;
  position: relative;
  background-color: #070917;
  height: 896px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--heading-h4-extra-bold-size);
  color: var(--primary-white);
  font-family: var(--font-poppins);
}
